.form-container{
  width: 450px;
  margin: auto;
  .button-container{
    float:right;
  }
}

.select-container{
  font-family: "Yeon Sung", sans-serif;
  color: #4285f4;
  font-size: 18px;
  padding: 5px 10px;
  border-width: 0 0 1px 0;
  border-color: #4285f4;
  outline: none;
}